.miniWeather {
  display: flex;
  align-items: center;
  // justify-content: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 70px;
}

.icon {
  width: 35px;
  height: 35px;
  background-size: cover;
}

.temp {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
