.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.8s ease-in-out;

  &.bg-home {
    background-image: url('/img/bg-home.webp');
  }

  &.bg-about {
    background-image: url('/img/bg-about.webp');
  }

  &.bg-contact {
    background-image: url('/img/bg-contact.webp');
  }

  &.bg-weather {
    background-image: url('/img/bg-weather.webp');
  }
}
main {
  flex: 1; 
}