.flip-container {
  perspective: 1000px;
  width: 80%;
  margin-bottom: 2rem;
}

.flipper {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipped .flipper {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.back {
  transform: rotateY(180deg);
}
