.ghost-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 120px;
  pointer-events: none;
  z-index: 1000;
}

.ghost-wrapper {
  position: absolute;
  top: 30%;
  left: 100vw;
  animation: floatGhostWave 12s linear forwards;
}

.ghost-image {
  width: 50px;
}

.ghost-bubble {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: #fa6603;
  color: white;
  // border: 2px solid black;
  border-radius: 12px;
  padding: 5px 10px;
  font-weight:normal;
  animation: fadeInOut 4s ease-in-out;
  white-space: nowrap;
}

@keyframes floatGhostWave {
  0% {
    transform: translateX(0vw) translateY(0);
  }
  10% {
    transform: translateX(-10vw) translateY(-10px);
  }
  20% {
    transform: translateX(-20vw) translateY(10px);
  }
  30% {
    transform: translateX(-30vw) translateY(-10px);
  }
  40% {
    transform: translateX(-40vw) translateY(10px);
  }
  50% {
    transform: translateX(-50vw) translateY(-10px);
  }
  60% {
    transform: translateX(-60vw) translateY(10px);
  }
  70% {
    transform: translateX(-70vw) translateY(-10px);
  }
  80% {
    transform: translateX(-80vw) translateY(10px);
  }
  90% {
    transform: translateX(-90vw) translateY(-10px);
  }
  100% {
    transform: translateX(-150vw) translateY(0);
  }
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
