.slider {
  overflow: hidden;
  width: 100%;
  padding: 2rem 0;
}

.slider__container {
  display: flex;
  gap: 1rem;
  padding: 2rem 10px;
}

.slider__slide {
  flex: 0 0 auto;
  width: 20svw;
  height: 48svh;
  position: relative;
  border-radius: 20%;
  overflow: hidden;
  box-shadow: 0 3px  8px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    // aspect-ratio: 4 / 3;
  }
}

@media (max-width: 768px) {
  .slider__slide {
    width: 220px;
    height: 150px;
  }
}
